<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8"/>
        <meta name="application-name" content="Toolorant"/>
        <meta name="author" content="Davi Sampaio">
        <meta name="description" content="A collection of valorant related tool">
        <!-- TODO: Generate keywords -->
        <meta name="keywords" content=""> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <script defer src="{{url_for('static', filename='main.js')}}" rel="text/javascript"></script>
        <link href="{{url_for('static', filename='main.css')}}" rel="stylesheet" type="text/css">

        <title>{% block title %}{% endblock %} - TL</title>
    {% endblock %}
</head>
<body>
    <header>
        <!-- TODO: Make header-->
        HEADER
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer>
        <!-- TODO: Make footer -->
        FOOTER
    </footer>
    {% block script %}
    {% endblock %}
</body>
</html>
