:root {
    font-family: 'Lato', sans-serif;

    --primary-color: rgb(236, 232, 225);
    --accent-color: rgb(255, 70, 85);
    --neutral-color: rgb(15, 25, 35);
    --black-shade: rgb(17, 17, 17);
    --text-color: rgb(56, 62, 58);
}

body {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    background-color: var(--primary-color);
}

main {
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bebas Neue', sans-serif;
}

a {
    color: var(--accent-color);
    text-decoration: None;
}

ul {
    margin: 0;
}