:root {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    /* Color palette */
    --white_shade: rgb(230, 230, 230);
    --black_shade: rgb(25, 25, 25);
    --primary_color: rgb(10, 14, 19);
    --accent_color: rgb(250, 68, 84);
    --neutral_color: rgb(22 59 119);
    /* rgb(43, 43, 53); /* rgb(11, 129, 110); /* rgb(61, 165, 255); */
}

html {
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: var(--white_shade);
    background-color: var(--primary_color);
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bebas Neue', sans-serif;
}

a {
    color: var(--accent_color);
    text-decoration: None;
}