#l-main-header {
    position: relative;
    background-color: var(--black-shade);
    height: 3rem;
    overflow: hidden;
}

#l-main-menu {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    /* 
    Make the diamonds be on the center of the main tag border:
        20px = ul padding-inline-start
        -0.35rem = Diamond size
        1px = Fine tune. Make diamond on the center of the border
    */
    transform: translate(calc(-20px + -1px + -0.35rem/2), -50%);
}

#l-footer {
    position: absolute;
    left: 0;
    width: 100%
    ;
    background-color: var(--black-shade);
    height: 3rem;
}

.l-index {
    border-left: solid 2px var(--text-color);
    margin: 0em 5em;
    min-height: 100vh;
}

.l-instalocker {
    padding: 0 2.5em;
}

#l-section-wrapper {
    display: flex;
    gap: 0.75rem;
    /* Header/footer = 3rem; border top and bottom = 1rem */
    height: calc(100vh - 3rem - 1rem - 3rem);
    /* Footer is part of the main since it is relater to the content of the page itself */
    padding: 0.5em 0;
}

#l-left-section {
    display: flex;
    flex-direction: column;
    /* approximately 40px (2.5rem) */
    gap: calc(0.06 * 100vh);
    /* 25% of the total screen (border of the <main> is 5rem) */
    width: calc(25% + 0.25 * 5rem);
}

#l-right-section {
    flex: 1;
}

/* TODO: remove some margin to prevent scroll bar to appear */
.l-simple-message {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
}