#main-menu {
    font-size: 2rem;
}

.l-index {
    background-image: url("../images/background1-big-flip-cartoon2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.l-instalocker {
    background-image: url("../images/background11-upscaled.png");
    background-repeat: no-repeat;
    background-attachment: fixed;       
    background-position: center;
    background-size: cover;
}

.l-vertical-menu {
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
}

.l-vertical-menu li {
    margin: 0.8em 0;
}

.l-container {
    position: relative;
    display: flex;
}