.diamond-list {
    list-style-type: none;
    padding-inline-start: 20px;
}

.diamond-list li::before {
    content: "";
    display: inline-block;
    background-color: var(--text-color);
    transform: rotate(45deg);
    /* (√2 / 2 / 2) = 0.35 -> half the diagonal of the square */
    width: 0.35rem;
    height: 0.35rem;
    margin-right: 1rem;
    vertical-align: middle;
    transition: 0.5s;
}

.diamond-list.rotating-diamond li:hover::before {
    /* 180 + 45 (the angle for a square to look like a "diamond" is 45) */
    transform: rotate(225deg);
}

.drawer-list li>* {
    transition: 0.3s;
}

.drawer-list li:hover>* {
    padding-left: 0.8em;
}

.highlight li * {
    color: var(--text-color);
    transition: 0.3s;
}

.highlight li:hover * {
    color: var(--accent-color);
}
