.diamond-list {
    list-style-type: none;
    padding-inline-start: 20px;
}

.diamond-list li::before {
    background-color: var(--text-color);
    content: "";
    display: inline-block;
    height: 0.35rem;
    margin-right: 1rem;
    transform: rotate(45deg);
    transition: 0.5s;
    vertical-align: middle;
    /* (√2 / 2 / 2) = 0.35 -> half the diagonal of the square */
    width: 0.35rem;
}

.diamond-list.rotating-diamond li:hover::before {
    /* 180 + 45 (the angle for a square to look like a "diamond" is 45) */
    transform: rotate(225deg);
}

.drawer-list li>* {
    transition: 0.3s;
}

.drawer-list li:hover>* {
    padding-left: 0.8em;
}

.highlight li * {
    color: var(--text-color);
    transition: 0.3s;
}

.highlight li:hover * {
    color: var(--accent-color);
}

.btn {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: relative;
}

.primary-btn {
    font-size: 1.125rem;
    font-weight: bold;
    height: 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.secondary-btn {
    height: 3rem;
    letter-spacing: 1px;
}

.thin-bs-border.neutral-thin-bs-border {
    box-shadow: inset 0 0 0 1px var(--neutral-color);
}

.thin-bs-border {
    box-shadow: inset 0 0 0 1px var(--accent-color);
    position: relative;
}

.thin-bs-border::before {
    background-color: var(--primary-color);
    content: "";
    height: 0.2rem;
    left: 0px;
    position: absolute;
    top: 0px;
    transition: 0.1s;
    width: 0.2rem;
}

.thin-bs-border::after {
    background-color: var(--primary-color);
    bottom: 0px;
    content: "";
    height: 0.3rem;
    position: absolute;
    right: 0px;
    transition: 0.25s;
    width: 0.3rem;
}

.thin-bs-border:hover::before,
.thin-bs-border:hover::after {
    background-color: transparent;
}

.curtain-btn.neutral-curtain {
    color: inherit;
}

.curtain-btn.neutral-curtain span.curtain {
    background-color: var(--neutral-color);
}

.curtain-btn {
    overflow: hidden;
    color: var(--accent-color);
    transition: 0.3s;
}

.curtain-btn span.curtain {
    background: var(--accent-color);
    height: 100%;
    left: -5%;
    position: absolute;
    transform: skewX(-10deg);
    transition: 0.3s ease-out;
    width: 0;
    z-index: -1;
}

.curtain-btn:hover span.curtain {
    width: 110%;
}

.curtain-btn:hover {
    color: var(--primary-color);
}

.checkbox-btn input[type="checkbox"] {
    display: none;
}

.small-item-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* approximately 16px (1rem) */
    gap: calc(0.025 * 100vh);
    overflow-y: auto;
}

.small-item-container::-webkit-scrollbar {
    width: 5px;
    background-color: rgb(191,190,184)
}

.small-item-container::-webkit-scrollbar-thumb {
    background-color: rgb(146,147,141);
}

.small-item {
    display: flex;
    height: 3rem;
    flex-shrink: 0;
}

.small-item .select-btn {
    align-items: flex-start;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    text-indent: 1rem;
}

.small-item .select-btn .name {
    font-size: 1.125rem;
    font-weight: bold;
}

.small-item .select-btn .game-mode {
    font-size: 0.875rem;
}

.shadow-btn.neutral-shadow {
    box-shadow: inset -1px 0 0 1px var(--neutral-color);
}

.shadow-btn.neutral-shadow:hover {
    box-shadow: inset -1px 0 0 1px var(--neutral-color), inset -1px 0 1rem 1px var(--neutral-color);
}

.shadow-btn.neutral-shadow i {
    color: var(--neutral-color);
}

.shadow-btn {
    box-shadow: inset -1px 0 0 1px var(--accent-color);
    transition: 0.3s;
    width: 3rem;
}

.shadow-btn:hover {
    box-shadow: inset -1px 0 0 1px var(--accent-color), inset -1px 0 1rem 1px var(--accent-color);
}

.shadow-btn::before {
    background-color: var(--primary-color);
    content: "";
    height: 0.2rem;
    position: absolute;
    right: 0px;
    top: 0px;
    transition: 0.1s;
    width: 0.2rem;
}

.shadow-btn i {
    color: var(--accent-color);
}

#new-profile-basic-input-container {
    transition: opacity 0.2s, height 0.5s, margin 0.5s;
}