.diamond-list {
    list-style-type: none;
    padding-inline-start: 20px;
}

.diamond-list li::before {
    background-color: var(--text-color);
    content: "";
    display: inline-block;
    height: 0.35rem;
    margin-right: 1rem;
    transform: rotate(45deg);
    transition: 0.5s;
    vertical-align: middle;
    /* (√2 / 2 / 2) = 0.35 -> half the diagonal of the square */
    width: 0.35rem;
}

.diamond-list.rotating-diamond li:hover::before {
    /* 180 + 45 (the angle for a square to look like a "diamond" is 45) */
    transform: rotate(225deg);
}

.drawer-list li>* {
    transition: 0.3s;
}

.drawer-list li:hover>* {
    padding-left: 0.8em;
}

.highlight li * {
    color: var(--text-color);
    transition: 0.3s;
}

.highlight li:hover * {
    color: var(--accent-color);
}

.btn {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: relative;
}

.btn:disabled {
    background-color: color-mix(in srgb, var(--primary-color) 90%, black);
    color: var(--text-color) !important;
    cursor: initial;
}

.btn:disabled::after,
.btn:disabled::before {
    content: none;
}

.primary-btn {
    font-size: 1.125rem;
    font-weight: bold;
    height: 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.secondary-btn {
    height: 3rem;
    letter-spacing: 1px;
}

.thin-bs-border.neutral-thin-bs-border {
    box-shadow: inset 0 0 0 1px var(--neutral-color);
}

.thin-bs-border {
    box-shadow: inset 0 0 0 1px var(--accent-color);
    position: relative;
}

.thin-bs-border::before {
    background-color: var(--primary-color);
    content: "";
    height: 0.2rem;
    left: 0px;
    position: absolute;
    top: 0px;
    transition: 0.1s;
    width: 0.2rem;
}

.thin-bs-border::after {
    background-color: var(--primary-color);
    bottom: 0px;
    content: "";
    height: 0.3rem;
    position: absolute;
    right: 0px;
    transition: 0.25s;
    width: 0.3rem;
}

.thin-bs-border:hover::before,
.thin-bs-border:hover::after {
    background-color: transparent;
}

.curtain-btn.neutral-curtain {
    color: inherit;
}

.curtain-btn.neutral-curtain span.curtain {
    background-color: var(--neutral-color);
}

.curtain-btn {
    color: var(--accent-color);
    overflow: hidden;
    transition: 0.3s;
}

.curtain-btn span.curtain {
    background: var(--accent-color);
    height: 100%;
    left: -5%;
    position: absolute;
    transform: skewX(-10deg);
    transition: 0.3s ease-out;
    width: 0;
    z-index: -1;
}

.curtain-btn:hover span.curtain {
    width: 110%;
}

.curtain-btn:hover {
    color: var(--primary-color);
}

.checkbox-btn input[type="checkbox"] {
    display: none;
}

.small-item-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* approximately 16px (1rem) */
    gap: calc(0.025 * 100vh);
    overflow-y: auto;
}

.small-item-container::-webkit-scrollbar {
    background-color: rgb(191, 190, 184);
    width: 5px;
}

.small-item-container::-webkit-scrollbar-thumb {
    background-color: rgb(146, 147, 141);
}

.small-item {
    display: flex;
    flex-shrink: 0;
    height: 3rem;
}

.small-item .select-btn {
    align-items: flex-start;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    text-indent: 1rem;
}

.small-item .select-btn .name {
    font-size: 1.125rem;
    font-weight: bold;
}

.small-item .select-btn .game-mode {
    font-size: 0.875rem;
}

.shadow-btn.neutral-shadow {
    box-shadow: inset -1px 0 0 1px var(--neutral-color);
}

.shadow-btn.neutral-shadow:hover {
    box-shadow: inset -1px 0 0 1px var(--neutral-color), inset -1px 0 1rem 1px var(--neutral-color);
}

.shadow-btn.neutral-shadow i {
    color: var(--neutral-color);
}

.shadow-btn {
    box-shadow: inset -1px 0 0 1px var(--accent-color);
    transition: 0.3s;
    width: 3rem;
}

.shadow-btn:disabled:hover {
    /* Remove shadow that fills the button */
    box-shadow: inset -1px 0 0 1px var(--accent-color);
}

.shadow-btn:hover {
    box-shadow: inset -1px 0 0 1px var(--accent-color), inset -1px 0 1rem 1px var(--accent-color);
}

.shadow-btn::before {
    background-color: var(--primary-color);
    content: "";
    height: 0.2rem;
    position: absolute;
    right: 0px;
    top: 0px;
    transition: 0.1s;
    width: 0.2rem;
}

.shadow-btn i {
    color: var(--accent-color);
}

#new-profile-basic-input-container {
    transition: opacity 0.2s, height 0.5s, margin 0.5s;
}

.map-agent-container {
    display: grid;
    gap: 1rem;
    grid-template-rows: repeat(9, 1fr);
    height: 100%;
}

.map-agent {
    align-items: center;
    display: flex;
    gap: 0.25rem;
    justify-content: space-around;
}

.map-agent:hover .map,
.map-agent:hover .agent {
    color: var(--accent-color);
}

.map-agent .map,
.map-agent .agent {
    flex: 1;
    font-family: 'Bebas Neue';
    font-size: 1.5rem;
    letter-spacing: 0.125rem;
    text-align: center;
    text-transform: uppercase;
    transition: 0.3s;
}

.map-agent .map span,
.map-agent .agent span {
    background-color: var(--primary-color);
    padding: 0 1rem;
    position: relative;
    z-index: 2;
}

.map-agent .line {
    height: 1px;
    position: absolute;
    transition: width 1s linear(0 0%, 0 1.8%, 0.01 3.6%, 0.03 6.35%, 0.07 9.1%, 0.13 11.4%, 0.19 13.4%, 0.27 15%, 0.34 16.1%, 0.54 18.35%, 0.66 20.6%, 0.72 22.4%, 0.77 24.6%, 0.81 27.3%, 0.85 30.4%, 0.88 35.1%, 0.92 40.6%, 0.94 47.2%, 0.96 55%, 0.98 64%, 0.99 74.4%, 1 86.4%, 1 100%);
    width: 0;
    z-index: 1;
}

.map-agent:hover .line {
    background-color: var(--text-color);
    width: 87.5%;
}