.thin-bs-border.is-checked::before,
.thin-bs-border.is-checked::after {
    background-color: transparent;
}

.curtain-btn.is-checked span.curtain {
    width: 110%;
}

.curtain-btn.is-checked {
    color: var(--primary-color);
}

/* Fake hidden does not use "display: none" because of transitions */
.is-hidden {
    height: 0;
    /* TODO: replace absolute margin with calc.
       TODO: put this margin in a separated class just for the #new-profile-basic-input-container */
    margin-top: -40px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s, height 0.5s, margin 0.5s;
}

.is-not-display {
    display: none;
}