.thin-bs-border.is-checked::before,
.thin-bs-border.is-checked::after {
    background-color: transparent;
}

.curtain-btn.is-checked span.curtain {
    width: 110%;
}

.curtain-btn.is-checked {
    color: var(--primary-color);
}
