/* TODO: add "l" prefix to layout classes/ids */
#section-wrapper {
    display: flex;
    gap: 0.75rem;
    /* Header = 3rem; border top and bottom = 1rem */
    height: calc(100vh - 3rem - 1rem);
}

#left-section {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    /* 25% of the total screen (border of the <main> is 5rem) */
    width: calc(25% + 0.25 * 5rem);
}

#right-section {
    flex: 1;
    overflow: hidden;
}

.btn {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: relative;
}

.primary-btn {
    font-size: 1.125rem;
    font-weight: bold;
    height: 3rem;   
    letter-spacing: 1px;
    text-transform: uppercase;
}

.secondary-btn {
    height: 3rem;   
    letter-spacing: 1px;
}

.thin-border-shadow {
    
}

.curtain-btn.neutral-curtain {
    box-shadow: inset 0 0 0 1px var(--neutral-color);
    color: inherit;
}

.curtain-btn.neutral-curtain span.curtain {
    background-color: var(--neutral-color);
}

.curtain-btn {
    overflow: hidden;
    box-shadow: inset 0 0 0 1px var(--accent-color);
    color: var(--accent-color);
    transition: 0.3s;
}

.curtain-btn::before {
    background-color: var(--primary-color);
    content: "";
    height: 0.2rem;
    left: 0px;
    position: absolute;
    top: 0px;
    transition: 0.1s;
    width: 0.2rem;
}

.curtain-btn::after {
    background-color: var(--primary-color);
    bottom: 0px;
    content: "";
    height: 0.3rem;
    position: absolute;
    right: 0px;
    transition: 0.25s;
    width: 0.3rem;
}

.curtain-btn span.curtain {
    background: var(--accent-color);
    height: 100%;
    left: -5%;
    position: absolute;
    transform: skewX(-10deg);
    transition: 0.3s ease-out;
    width: 0;
    z-index: -1;
}

/* .curtain-btn:not(.checkbox-btn):hover span.curtain, */
.curtain-btn:hover span.curtain,
.curtain-btn.checkbox-btn.is-checked span.curtain {
    width: 110%;
}

/* .curtain-btn:not(.checkbox-btn):hover, */
.curtain-btn:hover,
.curtain-btn.checkbox-btn.is-checked {
    color: var(--primary-color);
}

/* .curtain-btn:not(.checkbox-btn):hover::before, */
.curtain-btn:hover::before,
.curtain-btn.checkbox-btn.is-checked::before,
/* .curtain-btn:not(.checkbox-btn):hover::after, */
.curtain-btn:hover::after,
.curtain-btn.checkbox-btn.is-checked::after {
    background-color: transparent;
}

.checkbox-btn input[type="checkbox"] {
    display: none;
}

/* TODO: Maybe use ".small-item-container .small-item" instead of just ".small-item" */
.small-item-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}

.small-item {
    display: flex;
    height: 3rem;
}

.small-item .select-btn {
    align-items: flex-start;
    flex-direction: column;
    flex: 1;
    padding: 0 1rem;
}

.small-item .select-btn .name {
    font-size: 1.125rem;
    font-weight: bold;
}

.small-item .select-btn .game-mode {
    font-size: 0.875rem;
}

.small-item .text-input {
    flex: 1;
    text-indent: 1rem;
}

.shadow-btn.neutral-shadow {
    box-shadow: inset -1px 0 0 1px var(--neutral-color);
}

.shadow-btn.neutral-shadow:hover {
    box-shadow: inset -1px 0 0 1px var(--neutral-color), inset -1px 0 1rem 1px var(--neutral-color);
}

.shadow-btn.neutral-shadow i {
    color: var(--neutral-color);
}

.shadow-btn {
    box-shadow: inset -1px 0 0 1px var(--accent-color);
    transition: 0.3s;
    width: 3rem;
}

.shadow-btn:hover {
    box-shadow: inset -1px 0 0 1px var(--accent-color), inset -1px 0 1rem 1px var(--accent-color);
}

.shadow-btn::before {
    background-color: var(--primary-color);
    content: "";
    height: 0.2rem;
    position: absolute;
    right: 0px;
    top: 0px;
    transition: 0.1s;
    width: 0.2rem;
}

.shadow-btn i {
    color: var(--accent-color);
}
