altgraph==0.17.3
auto-py-to-exe==2.39.0
blinker==1.6.2
bottle==0.12.25
bottle-websocket==0.2.9
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.7
clr-loader==0.2.6
color-logging @ file:///C:/Users/davia/Documents/MyPrograms/color-logging
colorama==0.4.6
dynaconf==3.2.3
Eel==0.16.0
Flask==2.3.3
Flask-WTF==1.1.1
future==0.18.3
gevent==23.9.1
gevent-websocket==0.10.1
greenlet==3.0.0rc3
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
packaging==23.1
pefile==2023.2.7
proxy-tools==0.1.0
pyclean==2.7.5
pycparser==2.21
pyinstaller==6.0.0
pyinstaller-hooks-contrib==2023.8
pyparsing==3.1.1
pythonnet==3.0.2
pywebview==4.3.3
pywin32-ctypes==0.2.2
requests==2.31.0
toml==0.10.2
typing_extensions==4.8.0
urllib3==2.0.5
valclient==2.28
websockets==11.0.3
Werkzeug==2.3.7
whichcraft==0.6.1
WTForms==3.0.1
zope.event==5.0
zope.interface==6.0
