{% extends 'base.html' %}
{% block title %}Stream Hunter{% endblock %}
{% block main %}
    <main>
        <section class="l-main-wrapper l-flex-container">
            <button id="hunt" class="btn primary-btn curtain-btn thin-bs-border big-btn" type="button">
                <span>Hunt Live Streams</span>
                <span class="curtain"></span>
            </button>
            <!-- TODO: add tooltip to show that stream was copied -->
            <div class="l-center-wrap">
                <!-- Streams will be shown here -->
                <section id="streams-container" class="l-streams-container">
                    
                </section>
            </div>
        </section>
    </main>
{% endblock %}
