{% extends 'base.html' %}
{% block title %}Home{% endblock %}
<!-- Remove header -->
{% block header %}{% endblock %}
{% block main_attr %}class="l-index"{% endblock %}
{% block main %}
    <!-- TODO: make the drawer-list not specific for list, so it can be used in other stuff -->
    <div id="l-main-menu">
        <ul class="diamond-list rotating-diamond drawer-list highlight">
            <li><a href="{{ url_for('instalocker_bp.index') }}">Instalocker</a></li>
            <li><a href="#">Streamer Hunter</a></li>
            <li><a href="#">Voice to global</a></li>
            <li><a href="#">Settings Manager</a></li>
        </ul>
    </div>
{% endblock %}