{% extends 'base.html' %}
{% block title %}Profiles{% endblock %}
{% block main_attr %}class="l-instalocker"{% endblock %}
{% block main %}
    <form id="new-profile-form" action="#" method="post" autocomplete="off">
        {{ new_profile_form.hidden_tag() }}
    </form>
    <!-- TODO: add the other forms -->
    <section id="l-section-wrapper">
        <section id="l-left-section">
            <!-- Start/Stop checkbox button -->
            <!-- TODO: make the button darkblue by default instead of transparent -->
            <!-- TODO: make the curtain-btn class not specific for buttons, so it can be used in other stuff. -->
            <label for="instalocker-start-stop" class="btn primary-btn curtain-btn checkbox-btn thin-bs-border {{ 'is-checked' if instalocker_active else '' }}">
                <input id="instalocker-start-stop" type="checkbox" {{ 'checked' if instalocker_active else '' }}>
                <span class="label-content">{{ 'Deactivate' if instalocker_active else 'Activate' }}</span>
                <span class="curtain"></span>
            </label>
            
            <!-- Profile items. Has the name and game-mode information. Has the select form submit button and the delete form submit button -->
            <div class="small-item-container">
                {% for profile in profiles %}
                    <div class="small-item" data-profile-id="{{ profile.name }}" data-profile-type="item">
                        <!-- Select profile button. Submits the select form to the server -->
                        <!-- TODO: check if this 'is-checked class is being applied correctly' -->
                        <button type="submit" class="select-btn btn curtain-btn neutral-curtain thin-bs-border neutral-thin-bs-border {{ 'is-checked' if selected_profile.name == profile.name else '' }}">
                            <div class="name">{{ profile.name }}</div>
                            <div class="game-mode">{{ profile.game_mode.name }}</div>
                            <span class="curtain"></span>
                        </button>
                        <!-- Delete button. Submits the delete form to the server -->
                        <button type="submit" class="btn shadow-btn">
                            <i class="fa-regular fa-trash-can"></i>
                        </button>
                    </div>
                {% endfor %}
            </div>

            <!-- New profile name/game-mode input field -->
            <div class="small-item">
                <!-- Name and game-mode input fields -->
                {{ new_profile_form.name(class="select-btn thin-bs-border neutral-thin-bs-border", form="new-profile-form", placeholder='New profile name') }}
                {{ new_profile_form.game_mode(class="thin-bs-border neutral-thin-bs-border", form="new_profile_form") }}
                <!-- Actual create profile button. Submits the create form to the server -->
                <button type="submit" class="btn shadow-btn neutral-shadow">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>

            <!-- Create profile checkbox button. Toggle the create profile inputs -->
            <label for="create-profile-checkbox" class="btn secondary-btn curtain-btn neutral-curtain checkbox-btn thin-bs-border neutral-thin-bs-border">
                <input id="create-profile-checkbox" type="checkbox">
                <span class="label-content">Create new profile</span>
                <span class="curtain"></span>
            </label>
        </section>

        <section id="l-right-section">
            <!-- Profiles information input container -->
            <div class="profile-info-container">
                <!-- New profile map-agent input fields -->
                <div class="profile-description">
                    <div class="flex-wrapper">
                        {% for field in new_profile_form if field.name not in ['name', 'game_mode', 'csrf_token'] %}
                            <div class="map-agent">
                                <span class="to-left to-right">{{ field.label }}</span>
                                <span class="to-left to-right to-bottom">{{ field(form="new_profile_form") }}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- Existent profiles information -->
                {% for profile in profiles %}
                    <div class="profile-description" data-profile-id="{{ profile.name }}" data-profile-type="description">
                        <div class="flex-wrapper">
                            {% for map, agent in profile.map_agent.items() %}
                                <div class="map-agent">
                                    <span class="to-left to-right">{{ map }}</span>
                                    <span class="to-left to-right to-bottom">{{ agent }}</span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </section>
{% endblock %}
