{% extends 'base.html' %}
{% block title %}Home{% endblock %}
<!-- Remove header -->
{% block header %}{% endblock %}
{% block main %}
    <main class="l-index">
        <div id="l-main-menu">
            <ul class="diamond-list rotating-diamond drawer-list highlight">
                <li><a href="{{ url_for('instalocker.index') }}">Instalocker</a></li>
                <li><a href="{{ url_for('index.in_development') }}">Stream Hunter</a></li>
                <li><a href="{{ url_for('index.in_development') }}">Voice to global</a></li>
                <li><a href="{{ url_for('index.in_development') }}">Settings Manager</a></li>
            </ul>
        </div>
    </main>
{% endblock %}