{% extends 'base.html' %}
{% block title %}Error{% endblock %}
{% block header %}{% endblock %}
{% block main %}
    <main>
        <div class="l-simple-message">
            <h1>Please open Valorant and try again</h1>
            <button onclick="location.href = '/';" class="select-btn btn curtain-btn neutral-curtain thin-bs-border neutral-thin-bs-border" type="button">
                Try again
                <span class="curtain"></span>
            </button>
        </div>
    </main>
{% endblock %}